PORT=Yore-port
SALT=your-salt
HOST=your-host
MOOD=development-or-production
SECRET_KEY=Your-secret-key
CLOUDINARY_CLOUD_NAME=youre-clodinry-name
CLOUDINARY_CLOUD_API_SECRET=youre-clodinry-api-secret
CLOUDINARY_CLOUD_API_KEY=youre-clodinry-api-secret-key
EMAIL=your-email
EMAIL_PASSWORD=youre-email-password
MONGODB_URL=your-mongodb-connection-url
